<div class="container-fluid" style="margin-top: 5%;">
  <div class="col-lg-4 col-md-2"></div>
  <div class="col-lg-4 col-md-5">
    <form class="form-signin" >
      <div class="text-center">
        <img
          class="mb-4"
          src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
          alt=""
          width="72"
          height="72"
        />
        <h1 class="h3 mb-3 font-weight-normal">Login to Amplify</h1>
        <p>
          Login to access all the information about your site. Get statistics
          from users and data from the music popularity.
        </p>
      </div>

      <div class="form-label-group">
        <label for="inputEmail">Email address</label>

        <input
          type="email"
          id="inputEmail"
          class="form-control"
          placeholder="Email address"
          required
          autofocus
        />
      </div>

      <div class="form-label-group">
        <label for="inputPassword">Password</label>
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Password"
          required
        />
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button (click)="flag()" class="btn btn-lg btn-primary btn-block" type="submit">
       <a href='/dashboard'> Sign in</a>
      </button>
      <div style="margin-top:3%; margin-bottom: 10%">
          <span>Don't have account ?</span><a href='/register'> Register</a>
      </div>
    </form>
  </div>
</div>
