<div class="wrapper">

<div class="sidebar" data-background-color="white" data-active-color="danger">

    <sidebar-cmp></sidebar-cmp>
</div>

<div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">



<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-5">
      <div class="card card-user">
        <div class="image">
          <img src="assets/img/background.jpg" alt="..." />
        </div>
        <div class="content">
          <div class="author">
            <img class="avatar border-white" src="assets/img/faces/pedro.png" alt="..." />
            <h4 class="title">
              Pedro Caleror<br />
              <a href="#"><small>@leroLoko</small></a>
            </h4>
          </div>
          <p class="description text-center">
            "Thanks to amplify i found a girlfriend... And some friends... Thank
            you AMPLIFY!"
          </p>
        </div>
        <hr />
      </div>
    </div>
    <div class="col-lg-8 col-md-7">
      <div class="card">
        <div class="header">
          <h4 class="title">Edit Profile</h4>
        </div>
        <div class="content">
          <form>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label>Company</label>
                  <input type="text" class="form-control border-input" disabled placeholder="Company" value="Zara Lleida" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control border-input" placeholder="Username" value="kaleroloko" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control border-input" placeholder="Email" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control border-input" placeholder="Company" value="Pedro" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control border-input" placeholder="Last Name" value="Calero" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control border-input" placeholder="Home Address" value="Lleida, Spain" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control border-input" placeholder="City" value="Lleida" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control border-input" placeholder="Country" value="Spain" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="number" class="form-control border-input" placeholder="ZIP Code" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About the site</label>
                  <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="Mike">
                                            Oh, it's a lonely world, I know
                                            Gon' get a lonely girl, that's fo' sho'
                                            Oh, I'm a lonely boy, she made a lonely boy, yeah, I know
                                            Oh, it's a lonely world, I know
                                            Gon' get a lonely girl, that's fo' sho'
                                            Oh, I'm a lonely boy, she made a lonely boy, yeah, I know
                                            </textarea>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="row">
                <div class="">
                  <label>Genres</label>
                </div>
                <div class="custom-control custom-checkbox col-md-4">
                  <input type="checkbox" class="custom-control-input" id="same-address" />
                  <label class="custom-control-label" for="same-address">Hip hop</label>
                </div>
                <div class="custom-control custom-checkbox col-md-4">
                  <input type="checkbox" class="custom-control-input" id="save-info" />
                  <label class="custom-control-label" for="save-info">
                    Rap</label>
                </div>
                <div class="custom-control custom-checkbox col-md-4">
                  <input type="checkbox" class="custom-control-input" id="save-info" />
                  <label class="custom-control-label" for="save-info">
                    Trap</label>
                </div>
                <div class="custom-control custom-checkbox col-md-4">
                  <input type="checkbox" class="custom-control-input" id="save-info" />
                  <label class="custom-control-label" for="save-info">
                    Emo Trap</label>
                </div>
                <div class="custom-control custom-checkbox col-md-4">
                  <input type="checkbox" class="custom-control-input" id="save-info" />
                  <label class="custom-control-label" for="save-info">
                    Melodic Trap</label>
                </div>
                <div class="custom-control custom-checkbox col-md-4">
                  <input type="checkbox" class="custom-control-input" id="save-info" />
                  <label class="custom-control-label" for="save-info">
                    Asian Trap</label>
                </div>
                <div class="custom-control custom-checkbox col-md-4">
                  <input type="checkbox" class="custom-control-input" id="save-info" />
                  <label class="custom-control-label" for="save-info">
                    Boomp bap</label>
                </div>

                <div class="text-center col-md-12">
                  <button type="submit" class="btn btn-info btn-fill btn-wd">
                    Submit changes
                  </button>
                </div>

                <div class="clearfix"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
</div>
</div>