<footer class="footer" style="background-color: #141414">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href='/terms'>
                        <font color="white">
                            Terms and conditions
                        </font>
                    </a>
                </li>

            </ul>
        </nav>
        <div class="copyright pull-right">
            <font color="white">&copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="">Arnau
                    Díaz</a></font>
        </div>
    </div>

</footer>